<div class="text-center fw-bold mb-2 fs-5 d-block mb-1"><i class="fa-solid fa-computer"></i> {{ cid }}</span>
<div class="btn-group d-block">
  <a href="{{ path('connections') }}?cid={{ cid }}" class="btn btn-success"><i class="fa-solid fa-circle-nodes"></i></a>
  <a href="{{ path('telemetry') }}?cid={{ cid }}" class="btn btn-success"><i class="fa-solid fa-satellite-dish"></i></a>
  <a href="#" class="btn btn-success disabled"><i class="fa-solid fa-gavel"></i></a>
  <a href="#" class="btn btn-success disabled"><i class="fa-solid fa-envelope"></i></a>
</div>
