<div class="text-center fw-bold mb-2 fs-5 d-block mb-1"><i class="fa-solid fa-ethernet"></i> {{ ip }}</span>
<div class="btn-group d-block">
  <a href="{{ path('connections') }}?ip={{ ip }}" class="btn btn-primary"><i class="fa-solid fa-circle-nodes"></i></a>
  <a href="{{ path('telemetry') }}?ip={{ ip }}" class="btn btn-primary"><i class="fa-solid fa-satellite-dish"></i></a>
  <a href="{{path('bans')}}?ckey=&aCkey=&cid=&ip={{ ip }}&text=" class="btn btn-primary"><i class="fa-solid fa-gavel"></i></a>
  <a href="#" class="btn btn-primary disabled"><i class="fa-solid fa-envelope"></i></a>
</div>
