{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="border-bottom border-4">Rounds
		{% if player|default(null) %}
			where
			{{ component('PlayerBadge', { player: player }) }}
			connected
		{% endif %}
	</h1>
	<div class="d-flex justify-content-between align-items-center mt-3">{{ knp_pagination_render(pager) }}</div>
	<table class="table table-bordered align-middle">
		<thead>
			<tr>
				<th>Round #</th>
				<th>Map & Server</th>
				<th>Started</th>
				<th>Duration</th>
				<th>Ended</th>
				<th>Result</th>
				{% if player|default(null) %}
					<th title="Job data tracked since 2025-06-08, all entries before this date will be 'Observer'">Joined
						<i class="fa-solid fa-circle-info"></i>
					</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% set lastdate = null %}
			{% for r in rounds %}
				{% if r.getStart|date('F d') != lastdate %}
					{% set lastdate = r.getStart|date('F d') %}
					<tr>
						<th colspan="7">{{lastdate}}</th>
					</tr>
				{% endif %}
				{% if r.getId in servers.getCurrentRounds %}
					<tr class="table-info">
						<th class="align-middle">
							{{ r.getId }}
						</th>
						<td class="align-middle">
							{{ r.getMap }}
							on
							<br/>{{ component('Server', { server: r.getServer }) }}
						</td>
						<td class="align-middle font-monospace">
							{% if r.getInit and r.getStart %}
								<span class="d-block text-muted" style="font-size:.85rem">Init:
									{{ r.getInit|date }}</span>
								{{ r.getStart|date }}
							{% else %}
								{{ r.getInit|date }}
							{% endif %}
						</td>
						<td>
							{% if r.getStart %}
								{% set startupdiff = r.getInit.diff(r.getStart) %}
								<span class="d-block text-muted" style="font-size:.85rem" title="Startup duration">{{ startupdiff|date('%H:%I:%S') }}</span>
							{% endif %}
							{% if r.getStart and r.getEnd %}
								{% set duration = r.getStart.diff(r.getEnd) %}
								<span class="d-block" title="Round Duration">{{ duration|date('%H:%I:%S') }}</span>
							{% endif %}
							{% if r.getEnd and r.getShutdown %}
								{% set shutdowndiff = r.getEnd.diff(r.getShutdown) %}
								<span class="d-block text-muted" style="font-size:.85rem" title="Shutdown duration">{{ shutdowndiff|date('%H:%I:%S') }}</span>
							{% endif %}
						</td>
						<td colspan="5">{{component('NoData',{message: "This round is ongoing"})}}</td>
					</tr>
				{% else %}
					<tr class="{{ html_classes({ 'table-success': r.getState == 'proper completion', 'table-danger': r.getState == 'nuke', 'table-warning': 'admin reboot' in r.getState }) }}" data-href="{{ path('round', { round: r.getId }) }}">
						<th class="align-middle">
							<a href="{{ path('round', { round: r.getId }) }}">{{ r.getId }}</a>
						</th>
						<td class="align-middle">
							{{ r.getMap }}
							on
							<br/>{{ component('Server', { server: r.getServer }) }}
						</td>
						<td class="align-middle font-monospace">
							{% if r.getInit and r.getStart %}
								<span class="d-block text-muted" style="font-size:.85rem">Init:
									{{ r.getInit|date }}</span>
								{{ r.getStart|date }}
							{% else %}
								{{ r.getInit|date }}
							{% endif %}
						</td>
						<td>
							{% if r.getStart %}
								{% set startupdiff = r.getInit.diff(r.getStart) %}
								<span class="d-block text-muted" style="font-size:.85rem" title="Startup duration">{{ startupdiff|date('%H:%I:%S') }}</span>
							{% endif %}
							{% if r.getStart and r.getEnd %}
								{% set duration = r.getStart.diff(r.getEnd) %}
								<span class="d-block" title="Round Duration">{{ duration|date('%H:%I:%S') }}</span>
							{% endif %}
							{% if r.getEnd and r.getShutdown %}
								{% set shutdowndiff = r.getEnd.diff(r.getShutdown) %}
								<span class="d-block text-muted" style="font-size:.85rem" title="Shutdown duration">{{ shutdowndiff|date('%H:%I:%S') }}</span>
							{% endif %}
						</td>
						<td class="align-middle font-monospace">
							{% if r.getEnd and r.getShutdown %}
								{{ r.getEnd|date }}
								<span class="d-block text-muted" style="font-size:.85rem">Shutdown:
									{{ r.getShutdown|date }}</span>
							{% elseif r.getShutdown %}
								{{ r.getShutdown|date }}
							{% else %}
								Server crashed - No end timings
							{% endif %}
						</td>
						<td class="align-middle">
							<i class="{{ html_classes('fas', { 'fa-circle-check': r.getState == 'proper completion', 'fa-bomb': r.getState == 'nuke', 'fa-power-off': 'admin reboot' in r.getState }) }}"></i>
							{{ r.getState|title }}
							{% if r.getResult %}
								<br/>{{ r.getResult|title }}
							{% endif %}
						</td>
						{% if player|default(null) %}
							<td>
								{% if r.manifest %}
									{{component('RoleBadge', {role: r.manifest.role})}}
								{% else %}
									Observer
								{% endif %}
								<span class="d-block text-muted font-monospace" style="font-size:.85rem">At
									{{r.manifest.joined|date}}</span>
							</td>
						{% endif %}

					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
	<div class="d-flex justify-content-between align-items-center mt-3">{{ knp_pagination_render(pager) }}</div>
{% endblock %}
