{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="border-bottom border-4">Rounds</h1>
	<div class="d-flex justify-content-between align-items-center mt-3">{{ knp_pagination_render(pager) }}</div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Round #</th>
				<th>Map & Server</th>
				<th>Started</th>
				<th>Duration</th>
				<th>Ended</th>
				<th>Result</th>
				{# <th>Threat</th> #}
			</tr>
		</thead>
		<tbody>
			{% set lastdate = null %}
			{% for r in rounds %}
				{% if r.getStart|date('F d') != lastdate %}
					{% set lastdate = r.getStart|date('F d') %}
					<tr>
						<th colspan="7">{{lastdate}}</th>
					</tr>
				{% endif %}
				<tr class="{{ html_classes({ 'table-success': r.getState == 'proper completion', 'table-danger': r.getState == 'nuke', 'table-warning': 'admin reboot' in r.getState }) }}" data-href="{{ path('round', { round: r.getId }) }}">
					<th class="align-middle">
						<a href="{{ path('round', { round: r.getId }) }}">{{ r.getId }}</a>
					</th>
					<td class="align-middle">
						{{ r.getMap }}
						on
						<br/>{{ component('Server', { server: r.getServer }) }}
					</td>
					<td class="align-middle font-monospace">
						{% if r.getInit and r.getStart %}
							<span class="d-block text-muted" style="font-size:.85rem">Init:
								{{ r.getInit|date }}</span>
							{{ r.getStart|date }}
						{% else %}
							{{ r.getInit|date }}
						{% endif %}
					</td>
					<td>
						{% if r.getStart %}
							{% set startupdiff = r.getInit.diff(r.getStart) %}
							<span class="d-block text-muted" style="font-size:.85rem" title="Startup duration">{{ startupdiff|date('%H:%I:%S') }}</span>
						{% endif %}
						{% if r.getStart and r.getEnd %}
							{% set duration = r.getStart.diff(r.getEnd) %}
							<span class="d-block" title="Round Duration">{{ duration|date('%H:%I:%S') }}</span>
						{% endif %}
						{% if r.getEnd and r.getShutdown %}
							{% set shutdowndiff = r.getEnd.diff(r.getShutdown) %}
							<span class="d-block text-muted" style="font-size:.85rem" title="Shutdown duration">{{ shutdowndiff|date('%H:%I:%S') }}</span>
						{% endif %}
					</td>
					<td class="align-middle font-monospace">
						{% if r.getEnd and r.getShutdown %}
							{{ r.getEnd|date }}
							<span class="d-block text-muted" style="font-size:.85rem">Shutdown:
								{{ r.getShutdown|date }}</span>
						{% elseif r.getShutdown %}
							{{ r.getShutdown|date }}
						{% else %}
							Server crashed - No end timings
						{% endif %}
					</td>
					<td class="align-middle">
						<i class="{{ html_classes('fas', { 'fa-circle-check': r.getState == 'proper completion', 'fa-bomb': r.getState == 'nuke', 'fa-power-off': 'admin reboot' in r.getState }) }}"></i>
						{{ r.getState|title }}
						{% if r.getResult %}
							<br/>{{ r.getResult|title }}
						{% endif %}
					</td>
					{# <td class="align-middle">
											{% if r.getThreat %}
												<span class="badge d-block" style="{{ r.getThreat.badge.getStyle }}" title="Threat Level: {{r.getThreat.threat_level}} • Roundstart Budget: {{r.getThreat.round_start_budget}}">
													<i class="{{ r.getThreat.badge.getIcon }}"></i>
													{{ r.getThreat.badge.value }}</span>
											{% else %}
												N/A
											{% endif %}
										</td> #}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="d-flex justify-content-between align-items-center mt-3">{{ knp_pagination_render(pager) }}</div>
{% endblock %}
