{% extends 'dashboard.html.twig' %}

{% block javascripts %}
	<script>
		const mapInfo = {{ map|json_encode|raw }}
const roundInfo = {{ round.__serialize|json_encode|raw }}
console.log(roundInfo)
	</script>
	{{ parent() }}
	{{ encore_entry_script_tags('roundMap') }}
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('roundMap') }}
{% endblock %}

{% block subnav %}
	{% set prev = round.getId - 1 %}
	{% set next = round.getId + 1 %}
	<div class="d-flex justify-content-between">
		<a href="{{ path('round.map', { round: prev }) }}" class="btn btn-primary">
			<i class="fa-solid fa-angles-left"></i>
			<i class="fas fa-circle"></i>
			{{ prev }}</a>
		<a href="{{ path('round.map', { round: next }) }}" class="btn btn-primary">
			<i class="fas fa-circle"></i>
			{{ next }}
			<i class="fa-solid fa-angles-right"></i>
		</a>
	</div>
{% endblock %}

{% block sidebar %}
	{% include "round/components/dashboard-header.html.twig" %}
	<hr class="mt-2 mb-1">
	<div class=" px-2 my-2">
		<h5>Database Stats</h5>
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link text-muted data db-loader" href="#" data-key="explosion">
					<i class="fa-solid fa-explosion"></i>
					Explosions</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-muted data db-loader" href="#" data-key="death">
					<i class="fa-solid fa-skull"></i>
					Deaths</a>
			</li>
		</ul>
	</div>
	<hr class="mt-2 mb-1">
	<div class=" px-2 my-2">
		<h5>Logfile Stats</h5>
		<ul class="nav flex-column"></ul>
	</div>
{% endblock %}

{% block content %}
	<div id="map"></div>
{% endblock %}
