{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="border-bottom border-4 ">
		Round #{{round.getId}}
	</h1>
	{% set prev = round.getId - 1 %}
	{% set next = round.getId + 1 %}
	<div class="d-flex justify-content-between mb-2">
		<a href="{{ path('round', { round: prev }) }}" class="btn btn-primary">
			<i class="fa-solid fa-angles-left"></i>
			<i class="fas fa-circle"></i>
			{{ prev }}</a>
		<a href="{{ path('round', { round: next }) }}" class="btn btn-primary">
			<i class="fas fa-circle"></i>
			{{ next }}
			<i class="fa-solid fa-angles-right"></i>
		</a>
	</div>


	<ul class="nav nav-tabs mb-2">
		{% for l in links %}
			<li class="nav-item">
				<a class="nav-link {{l.btn}}" aria-current="page" href="{{l.url}}">
					<i class="{{l.icon}}"></i>
					{{l.title}}</a>
			</li>
		{% endfor %}
	</ul>
	{% include "round/components/timing.html.twig" %}
{% endblock %}
