{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="border-bottom border-4 ">
		Round #{{round.getId}}
	</h1>
	{% set prev = round.getId - 1 %}
	{% set next = round.getId + 1 %}
	<div class="d-flex justify-content-between mb-2">
		<a href="{{ path('round', { round: prev }) }}" class="btn btn-primary">
			<i class="fa-solid fa-angles-left"></i>
			<i class="fas fa-circle"></i>
			{{ prev }}</a>
		<a href="{{ path('round', { round: next }) }}" class="btn btn-primary">
			<i class="fas fa-circle"></i>
			{{ next }}
			<i class="fa-solid fa-angles-right"></i>
		</a>
	</div>


	<ul class="nav nav-tabs mb-2">
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="{{path('round',{round:round.getId})}}">Timeline</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{path('round.stats',{round:round.getId})}}">Stats</a>
		</li>
		{% if feature_enabled('round.map') %}
			<li class="nav-item">
				<a class="nav-link" href="{{path('round.map',{round:round.getId})}}">Map</a>
			</li>
		{% endif %}
		{% if round.logUrl and feature_enabled('round.logs')  %}
			<li class="nav-item">
				<a class="nav-link" href="{{path('round.logs',{round:round.getId})}}" target="_blank">Logs
					<i class="fa-solid fa-arrow-up-right-from-square"></i>
				</a>
			</li>
		{% endif %}
		<li class="nav-item ms-auto">
			<a class="nav-link" style="background: #54487A; color: white;" href="https://www.gentoo.org/get-started/" target="_blank"><img src="/img/gentoo-3d-small.png" style="height: 1em; width: auto;"/>
				How To Install Gentoo</a>
		</li>
	</ul>
	{% include "round/components/timing.html.twig" %}
{% endblock %}
