{% extends 'dashboard.html.twig' %}

{% block subnav %}
	{% set prev = round.getId - 1 %}
	{% set next = round.getId + 1 %}
	<div class="d-flex justify-content-between">
		<a href="{{ path('round.stats', { round: prev }) }}" class="btn btn-primary">
			<i class="fa-solid fa-angles-left"></i>
			<i class="fas fa-circle"></i>
			{{ prev }}</a>
		<a href="{{ path('round.stats', { round: next }) }}" class="btn btn-primary">
			<i class="fas fa-circle"></i>
			{{ next }}
			<i class="fa-solid fa-angles-right"></i>
		</a>
	</div>
{% endblock %}

{% block sidebar %}
	{% include "round/components/dashboard-header.html.twig" %}
	<div class="px-2 my-2">
		{% for category, stats in stats %}
			<h5>{{category}}</h5>
			<ul class="nav flex-column">
				{% for s in stats %}
					<li class="nav-item">
						<a class="nav-link" href="{{path('round.stats',{round: round.getId, stat: s})}}">
							{{s}}</a>
					</li>
				{% endfor %}
			{% endfor %}
		</ul>
	</div>


{% endblock %}

{% block content %}
	{% if stat %}
		<h2 class="py-1 px-2 border-bottom">
			<code>{{stat.getKey}}</code>
		</h2>
		{% include [
	        'stat/key/' ~ stat.getKey ~ '-' ~ stat.getVersion ~ '.html.twig', 
	        'stat/key/' ~ stat.getKey ~ '.html.twig',
	        'stat/type/' ~ stat.getType ~ '.html.twig', 
	        'stat/generic.html.twig'
	        ] with {'stat': stat, 'round':round, 'server': round.getServer.getIdentifier} only %}
		<hr>
		<div class="card mx-2">
			<div class="card-header">Raw Data</div>
			<div class="card-body">
				<pre>
{{stat|json_encode(constant('JSON_PRETTY_PRINT'))|raw}}
		</pre>
			</div>
		</div>
	{% else %}
		<div class="fw-bold align-self-center me-auto ms-auto text-center text-muted" style="font-size: 5rem;">
			<i class="fa-solid fa-hand-point-left"></i>
			Select a Stat!
		</div>
	{% endif %}
{% endblock %}
