<ul class="list-group list-group-flush">
	{% for line in stat.data %}
		<li class="list-group-item" id="{{line.id}}">
			<span class="d-block text-muted" style="font-size:.65rem">
				<a href="#{{line.id}}" class="text-decoration-none">#{{line.id}}</a>
				@
				{{line.ts|date}}</span>
			{{line.msg|link_ckeys|raw}}</li>
	{% endfor %}
</ul>
