{% extends 'base.html.twig' %}

{% block body %}
	{% for category, options in links %}
		{% if options %}
			<h3 class="border-bottom">{{category}}</h3>
			<div class="grid mb-3">
				{% for l in options %}
					<a href="{{l.url}}" class="btn {{l.btn}} text-start fs-4 fw-bold d-flex justify-content-between align-items-center g-col-12 g-col-md-3 g-col-lg-3">
						<span>{{l.title}}</span>
						{% if l.img %}
							<img src="{{asset(l.img)}}" style="height: 40px; width: auto; fill: currentColor;"/>
						{% else %}
							<i class="{{l.icon}}"></i>
						{% endif %}
					</a>
				{% endfor %}
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}
