<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container">
		<a href="{{path('app.home')}}" style="height: 40px; width: 40px;" id="site-logo" class="link-secondary">
			{{include('assets/statbus-star.svg')}}
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
				{% if app.user %}
					<a class="nav-link" href="{{ url('player', {ckey: app.user.getCkey}) }}"><i class="fas fa-user"></i> Me</a>
				{% endif %}
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{url('bans')}}"><i class="fas fa-gavel"></i> Bans</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{url('messages')}}"><i class="fas fa-envelope"></i> Notes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{url('tickets')}}"><i class="fas fa-ticket"></i> Tickets</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fa-solid fa-circle-info"></i> Info
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{url('app.admin_log')}}"><i class="fa-solid fa-users-line"></i> Admin Rank Logs</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="navbar-nav mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{% if app.user %}
							{{component('PlayerBadge',{player: app.user})}}
						{% else %}
							Authenticate
						{% endif %}
					</a>
					<ul class="dropdown-menu">
						{% if app.user %}
							<li>
								<a class="dropdown-item text-bg-danger" href="{{logout_url()}}">Logout</a>
							</li>
						{% else %}
							<li>
								<a class="dropdown-item" href="{{path('auth.tgstation.start')}}">With /tg/ Station 13</a>
							</li>
						{% endif %}
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
