{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('ballot') }}
{% endblock %}

{% block body %}
	<h1 class="border-bottom border-4">
		<span class="text-muted">#{{ election.getId }}</span>
		{{ election.getName }}
		Provisional Results</h1>

	<div class="alert alert-success">
		The winner is:
		<strong>🎉
			{{ election.getWinner.getName }}
			🎉</strong>!
	</div>

	<table class="table table-sm">
		<thead>
			<tr>
				<th>Candidate</th>
				<th>Votes</th>
			</tr>
		</thead>
		<tbody>
			{% for round, values in election.getResult.getStats.rounds %}
				<tr>
					<th colspan="2" class="table-secondary">Round
						{{ round }}</th>
				</tr>
				{% for name, votes in values|sort %}
					<tr>
						<th>{{ name }}</th>
						<td>{{ votes }}</td>
					</tr>
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>
	<div class="card">
		<h3 class="card-header">Raw Vote Data</h3>

		<div class="list-group list-group-flush">
			{% if election.getAnonymity.value != "none" %}
				<div class="list-group-item">

					<p class="mb-0">Names are censored to maintain the anonymity of the vote</p>

				</div>
			{% endif %}
			{% for v in election.getVotes %}
				<div class="list-group-item">
					<p>Vote cast at
						<strong>{{ v.getCast|date }}</strong>
						by
						<code>{{v.getCkey}}</code>:</p>
					<pre class="mb-0">{{ v.getBallotByName }}</pre>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
