
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Option</th>
      <th>Votes</th>
      <th title="Percentages are rounded down to the nearest hundredth">
        Percent <i class="fa-solid fa-circle-info"></i>
      </th>
    </tr>
  </thead>
  <tbody>
{% for option in poll.getResult %}

<tr>
  <th colspan="3">{{option.option.getText}}<br>
  <span class="text-muted fw-normal">With {{option.option.getMin}} meaning {{option.option.getMinDesc}} and {{option.option.getMax}} meaning {{option.option.getMaxDesc}}</th>
</tr>
{% for value, votes in option.votes %}
  <tr>
    <th>{{value}}</th>
    <td>{{votes}}</td>
    <td>%{{ (votes / option.voters|length * 100)|round(2, 'floor') }}</td>
  </tr>
  {% endfor %}
{% endfor %}
  </tbody>
</table>