{% extends 'base.html.twig' %}

{% block title %}
  {% if ckey|default(null) %}
    {{ parent() }} - All Bans for {{ ckey.getCkey }}
  {% else %}
    {{ parent() }} - All Bans
  {% endif %}
{% endblock %}

{% block body %}
  <h1 class="border-bottom border-4 border-dark">
    {% if ckey|default(null) %}
      All bans for {{ component('PlayerBadge', { player: ckey }) }}
    {% else %}
      {% if tgdb %}
        {% if author|default(null) %}
All bans issued by {{ component('PlayerBadge', { player: author }) }}
        {% else %}
        All Bans{% if round|default(null) %}
          From {{ component('Round', { round: round }) }}
        {% endif %}
        {% endif %}
      {% else %}
        Your Bans
      {% endif %}
    {% endif %}
  </h1>
  <div class="d-flex justify-content-center">{{ knp_pagination_render(pagination) }}</div>
  {% if pagination.items %}
    {% set lastdate = pagination.items[0].getBantime|date('F Y') %}
  {% else %}
    {% set lastdate = 'now'|date('F Y') %}
  {% endif %}
  <div class="{{ html_classes('card', { 'border-4 border-warning': tgdb|default(null) }) }}">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="mb-0">{{ lastdate }}</h3> {{ component('TGDBFlag', { tgdb: tgdb|default(null), message: "You're seeing all bans due to your access to TGDB" }) }}
    </div>
    <div class="list-group list-group-flush">
      {% for ban in pagination.items %}
        {% if (ban.getbantime|date('F Y')) != lastdate %}
          {% set lastdate = ban.getbantime|date('F Y') %}
          <div class="list-group-item divider">
            <h3 class="mb-0">{{ lastdate }}</h3>
          </div>
        {% endif %}
        <a href="{{path('ban.view',{'id':ban.getId})}}" class="list-group-item divider list-group-item-action d-flex justify-content-start">
          <span class="badge vertical-label text-bg-{{ ban.getStatus.getCssClass }}">{{ ban.getStatus.value }}</span>
          <div class="ms-4 d-flex justify-content-start align-items-top gap-2">
            <div>
              <span class="fw-bold text-decoration-none link-dark">{% include 'ban/components/title.html.twig' %}</span>
              <p class="my-3">{{ ban.getReason }}</p>
              <span class="d-block text-secondary" style="font-size: .7rem">
                #{{ ban.getId }}
                Placed by
                {{ component('PlayerBadge', { player: ban.getAdmin }) }}
                {{ ban.getBantime|date }}
              </span>
            </div>
          </div>
        </a>
      {% else %}
        <div class="list-group-item divider list-group-item-action">{{ component('NoData', { message: 'No Bans' }) }}</div>
      {% endfor %}
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">{{ knp_pagination_render(pagination) }}</div>
{% endblock %}
