<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Statbus
      {% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,{% apply url_encode %}{% include ('assets/statbus-star.svg') %}{% endapply %}" />
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
      {{ encore_entry_script_tags('globalSearch') }}
      {{ encore_entry_script_tags('theme') }}
    {% endblock %}
  </head>
  <body>
    {% include 'base/navbar.html.twig' %}
    {% include 'base/banner.html.twig' %}
    <main>
      <div class="container mt-3">
        {% if not servers.getServers %}
          <div class="alert alert-warning">
            <strong>Oh no!</strong> I wasn't able to retrieve the current server information from TG. Some data on Statbus may be unavailable or inaccessible as a result.
          </div>
        {% endif %}
        {% block breadcrumb %}
          {% if breadcrumb|default(null) %}
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                {% for t, l in breadcrumb %}
                  {% if not loop.last %}
                    <li class="breadcrumb-item">
                      <a href="{{ l }}">{{ t }}</a>
                    </li>
                  {% else %}
                    <li class="breadcrumb-item active" aria-current="page">{{ t }}</li>
                  {% endif %}
                {% endfor %}
              </ol>
            </nav>
          {% endif %}
        {% endblock %}
        {% block body %}

        {% endblock %}
      </div>
    </main>
    <footer class="container pb-2">
      <span class="text-muted mt-3 pt-3 d-block" style="font-size: .65rem">Data from ongoing rounds excluded: {{ servers.getCurrentRounds|join(', ') }}</span>
      <div class="border-top border-2  d-flex align-items-center justify-content-between gap-2 pt-2">
        <div>
          <div>
            All times are in UTC | <a href="{{ url('privacy') }}">Privacy Policy</a> | <a href="{{ url('content-warning') }}">Content Warning</a> | <a href="{{ url('changelog') }}">Changelog</a>
          </div>
          <div style="font-size: .85rem" class="mt-1">
            <a class="icon-link" href="https://github.com/statbus/statbus" target="_blank">
              <i class="fab fa-github" aria-hidden="true"></i>
              Github
            </a>
            |
            <a class="icon-link" href="https://discord.gg/37R9MkqG86" target="_blank">
              <i class="fab fa-discord" aria-hidden="true"></i>
              Discord
            </a>
            |
            <a class="icon-link" href="https://www.patreon.com/statbus" target="_blank">
              <i class="fab fa-patreon" aria-hidden="true"></i>
              Patreon
            </a>
          </div>
        </div>
        <div class="d-flex gap-2 align-items-center">
          <div style="width: 32px; height: 32px;">
            <a href="{{ url('app.home') }}">{{ include('assets/statbus-star.svg') }}</a>
          </div> <span>{{ shivas_app_version }}</span>
        </div>
      </div>
    </footer>
    <div id="activate">
      <a href="#" class="btn btn-primary btn-sm">Button That Kills You Instantly</a>
    </div>
  </body>
</html>
