<section id="basicInfo">
  <h4 class="border-bottom border-2 pb-2">Basic Information</h4>
  <div class="grid gap-2">
    <div class="g-col-4">
      <div class="card">
        <h5 class="card-header">Byond Account Created</h5>
        <div class="card-body">{{ player.getAccountJoinDate ? player.getAccountJoinDate|date('Y-m-d') : 'Not Found' }}</div>
      </div>
    </div>
    <div class="g-col-4">
      <div class="card">
        <h5 class="card-header">First Seen</h5>
        <div class="card-body">
          <time>{{ player.getFirstSeen|date }}</time>
        </div>
      </div>
    </div>
    <div class="g-col-4">
      <div class="card">
        <h5 class="card-header">Last Seen</h5>
        <div class="card-body">
          <time>{{ player.getLastSeen|date }}</time>
        </div>
      </div>
    </div>
    <div class="g-col-4">
      <div class="card">
        <div class="card-header" title="Time spent alive, in a mob, i.e. actively playing the game">
          Living Minutes <i class="fa-solid fa-circle-info"></i>
        </div>
        <div class="card-body">{{ player.getLiving }} minutes ({{(player.getLiving / 60)|round(1)}} hours)</div>
      </div>
    </div>
    <div class="g-col-4">
      <div class="card">
        <div class="card-header" title="Time spent dead, or observing">
          Ghost Minutes <i class="fa-solid fa-circle-info"></i>
        </div>
        <div class="card-body">{{ player.getGhost }} minutes ({{(player.getGhost / 60)|round(1)}} hours)</div>
      </div>
    </div>
    <div class="g-col-4">
      <div class="card">
        <div class="card-header" title="Remember, time spent doing something you enjoy isn't wasted time!">
          Total Playtime <i class="fa-solid fa-circle-info"></i>
        </div>
        <div class="card-body">{{ player.getLiving + player.getGhost }} minutes ({{ ((player.getLiving + player.getGhost) / 60)|round(1) }} hours)</div>
      </div>
    </div>
    <div class="g-col-4">
      <div class="card">
        <div class="card-header">
          Rounds (all time)
        </div>
        <div class="card-body px-0 py-3" style="background: url(https://v1.sparkline.11ty.dev/200x30/{{sparklines.rounds|join(',')}}/{{player.getRank.getBackColor|url_encode}}/) center left no-repeat">
        <div class="px-3" >{{ player.getRounds }}</div>
        </div>
      </div>
    </div>
    <div class="g-col-4">
      <div class="card">
        <div class="card-header">
          Deaths (all time)
        </div>
        <div class="card-body">{{ player.getDeaths }}</div>
      </div>
    </div>
    <div class="g-col-4">
      <div class="card">
        <div class="card-header">
          Deaths per Round (all time)
        </div>
        <div class="card-body">{% if player.getDeaths and player.getRounds %}{{ (player.getDeaths / player.getRounds)|round(2) }}{% endif %}</div>
      </div>
    </div>
  </div>
</section>
