<section>
	<h4 class="border-bottom border-2 mt-2 pb-2 d-flex justify-content-between align-items-center">
		<span>Characters Played</span>
	</h4>
	<div class="grid mb-3">
		{% for c in characters %}
			{% if c.image|default(null) %}
				<div class="g-col-3">
					<div class="card">
						<div class="card-body text-center">
							<img src="data:image/png;base64,{{c.image}}" class="badger-icon" src="" height="128" width="128"/>
						</div>
						<div class="card-footer text-center fw-bold">{{c.character}}</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<table class=" table table-bordered">
		<thead>
			<tr>
				<th>Character Name</th>
				<th title="Rounds in which this character joined at round start, or after the round had started. This data has been tracked since 2025-06-08">
					<i class="fa-solid fa-circle-info"></i>
					Rounds Joined</th>
			</tr>
		</thead>
		<tbody>
			{% for c in characters %}
				<tr>
					<th>{{c.character}}</th>
					<td>{{c.rounds}}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="2">
						{{ component('NoData', { message: 'No Characters Seen' }) }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
