<span class="badge playerBadge" style="{{player.getRank.getStyleString}}" {{attributes}} title="{{player.getRank.getName}}">
	<i class="fas {{player.getRank.getIcon}}"></i>
	{{player.getCkey}}
</span>
