<div class="row row-cols-2 px-0 mx-0">
	{% for d in stat.getData %}
		<div class="col">
			<div class="card mb-2">
				<div class="card-header d-flex justify-content-between align-items-center">
					<span>{{d.name}}
						<small>(<a href="{{path('player',{ckey:d.key})}}">{{d.key}}</a>)</small>
						as
						<em>The
							{{d.antagonist_name}}</em>
						<small class="text-muted">{{d.antagonist_type}}</small>
					</span>
					<a href="#" class="btn btn-sm btn-secondary screenshot" title="Download a copy of this antag outcome!" data-html2canvas-ignore>
						<i class="fa-solid fa-camera"></i>
					</a>
				</div>
				<div class="card-body">
					<ul class="list-group list-group-flush">
						{% for o in d.objectives %}
							{% if 'FAIL' == o.result %}
								<li class="list-group-item list-group-item-danger">
									<span class="badge text-bg-danger">FAIL</span>
								{% else %}
									<li class="list-group-item list-group-item-success">
										<span class="badge text-bg-success">SUCCESS</span>
									{% endif %}
									<strong>{{o.text|striptags}}</strong><br>
									<small class="text-muted">{{o.objective_type}}</small>
								{% endfor %}
							</ul>
						</div>
						<div class="card-footer d-flex justify-content-between align-items-center visually-hidden">
							<span>From Round
								<i class="fas fa-circle"></i>
								{{round.getId}}
								on
								{{server}}</span>
							<span style="font-size: .5rem" class="text-end">This Antag Outcome
								<br>Certified By statbus.space</span>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
