<ul class="list-group list-group-flush">
	{% for runtime in stat.data.runtimes %}
		{% set proc = runtime.proc_name|split(' (') %}
		{% set uri = runtime.source_file|split(',') %}
		<li class="list-group-item d-flex align-items-center justify-content-start gap-4" id="{{runtime.message|slug}}">
			<div class="text-center">
				<strong class="fs-4">{{runtime.count}}</strong>
				<p class="mb-0">count</p>
			</div>
			<div>
				<a href="#{{runtime.message|slug}}" class="fw-bold d-block link-dark">{{runtime.message}}</a>
				in
				<code>{{proc|first}}</code>
				(<a class="font-monospace" href="https://github.com/tgstation/tgstation/tree/{{round.getCommit}}/{{uri|first}}#L{{uri|last}}">{{proc|last|trim('()','both')}}:{{uri|last}}</a>)
				<p class="text-muted mb-0" style="font-size: .85rem;">
					<strong>src</strong>:
					{{runtime.src}}
				</p>
				<p class="text-muted mb-0" style="font-size: .85rem;">
					<strong>src_loc</strong>:
					{{runtime.src_loc}}
				</p>
				<p class="text-muted mb-0" style="font-size: .85rem;">
					<strong>usr</strong>:
					{{runtime.usr}}
				</p>
			</div>
		</li>
	{% endfor %}
</ul>
