{% extends 'base.html.twig' %}

{% block body %}
  <h1 class="border-bottom border-4 ">{{ book.getTitle }}</h1>
  <div class="mb-2 d-flex gap-2 align-items-center">
    By {{ book.getAuthor }} in {{ book.getCategory.value }}
    {% if is_granted('ROLE_BAN') %}
      <div class="border border-4 border-warning d-flex align-items-center gap-1 p-1" data-tgdb="true">{{ component('PlayerBadge', { player: book.player }) }} {{ component('TGDBFlag', { tgdb: true }) }}</div>
    {% endif %}
  </div>
  <section class="card">
    <article class="card-body">{{ book.getContent|markdown_to_html|raw }}</article>
  </section>
{% endblock %}
